<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UngDungSucKhoeThongMinh">

        <activity
            android:name=".ProfileActivity"
            android:exported="true" />

        <!-- MainActivity có android:exported="true" và intent-filter để làm Activity chính -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpMethodScreen"
            android:exported="false" />
        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".OTPMethodSelectionModal"
            android:exported="false" />
        <activity
            android:name=".SignInMethodScreen"
            android:exported="false" />
        <activity
            android:name=".EditNameActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".PhoneActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".EditDearActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".EditGenderActivity"
            android:exported="false" />
        <!-- PhoneAuthScreen không còn là Activity chính -->
        <activity
            android:name=".EditHeightActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:label="Chỉnh sửa chiều cao" />
        <activity
            android:name=".PhoneAuthScreen"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:exported="false">
            <!-- Xóa intent-filter khỏi PhoneAuthScreen -->

        </activity>


    </application>

</manifest>
